ul.menu
  li
    a(href='/')
      span
        .img-link
          img.img-icon(src='/images/flat_icons/charts.png', alt='')
        | Indicadores
  li.active
    a(href='/events')
      span
        .img-link
          img.img-icon(src='/images/flat_icons/chat.png', alt='')
        |  Mensagens
  li.active
    a(href='/timeline')
      span
        .img-link
          img.img-icon(src='/images/flat_icons/layered.png', alt='')
        | Irregularidades

  li
    a(href='/vehicles')
      span
        .img-link
          img.img-icon(src='/images/flat_icons/dashboard.png', alt='')
        | Motoristas
